:root {
    --branco-principal: #FFFFFF ;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #b0d4ff;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    align-items: center;
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    text-decoration: none;
    transition: 0.4s;
}

.container__botao:hover {
    transform: scale(1.1);
}

.botao__transparente {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secundario );
    font-size: 12px;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 70%;
}

.secundario__imagem--mobile {
    position: fixed;
    visibility: hidden;
}

.container__descricao {
    padding: 2em;
}

.descricao__titulo {
    color: var(--branco-principal);
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo{
    max-width: 80px;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a {
    color: var(--branco-principal);
    font-size: 16px;
    margin-left: 1em;
    text-decoration: none;
    transition: 0.3s all;
}

.lista__link a:hover {
    border: 0.1px solid var(--botao-azul);
    border-radius: 2px;
    padding: 1px 2px;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 1em 0;
}

@media screen and (max-width: 480px) {
    .principal {
        align-items: center;
        background-image: none;
    }
    
    .container {
        display: block;
        text-align: center;
        height: 90vh;
        max-width: 100%;
    }

    .container__caixa {
        margin: 5em 4em;
        text-align: center;
    }

    .container__titulo {
        font-size: 22px;
        font-weight: 700;
    }

    .container__imagem {
        text-align: center;
        width: 100%;
    }

    .secundario {
        align-items: center;
        margin: 10px 20px;
    }

    .secundario__imagem {
        width: 60%;
    }

    .secundario__imagem--mobile {
        position: static;
        visibility: visible;
    }

    .secundario__imagem--desktop {
        display: none;
    }

    .container__descricao {
        padding: 3em;
    }
    
    .descricao__titulo {
        color: var(--branco-principal);
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0.1em;
    }

    .dispositivos {
        width: 100vw;
        text-align: center;
    }
    
    .dispositivos__lista {
        display: block;
        justify-content: center;
        list-style-type: none;
        margin: 5em 0;
    }
    
    .dispositivos__titulo {
        color: var(--branco-principal);
        font-size: 22px;
        margin: 0 2em;
    }

    .dispositivo__icone {
        max-width: 50%;
    }
    
    .lista__item {
        font-size: 16px;
        color: var(--branco-principal);
    }
    
    .rodape {
        margin: 0;
        text-align: center;
        width: 100%;
    }
    
    .rodape__logo{
        max-width: 50%;
    }
    
    .rodape__lista {
        display: block;
        justify-content: center;
        list-style-type: none;
        margin-top: 1em;
    }
    
    .lista__link a {
        color: var(--branco-principal);
        font-size: 14px;
        margin-left: 0;
        margin-top: 1.5em;
        text-decoration: none;
        transition: 0.3s all;
    }
    .rodape__texto {
        color: var(--cinza-secundario);
        font-size: 10px;
        margin: 1em 5em;
    }
}